Package: libnss-sqlite
Version: 0.2
Architecture: i386
Maintainer: Sébastien Le Ray <sebastien-sqlite@orniz.org>
Installed-Size: 88
Depends: libc6 (>= 2.7-1), libsqlite3-0 (>= 3.5.9)
Section: admin
Priority: optional
Homepage: http://libnss-sqlite.tuxfamily.org
Description: NSS module for SQLite
 This package provides a Name Service Switch module that allows you
 to store users in a SQLite databased.
